media
˜/virtualenvs/ecommerce-1
last_env/
Users
settings.dev
settings.base
keys.py
__pycache__
ecommerce.__pycache__
ecommerce.settings.__pycache__
venv/
ecommerce.settings.dev
ecommerce/settings/dev.py
logfile
ecommerce/settings/dev
.env

.DS_store